@tailwind base;
@tailwind components;
@tailwind utilities;

.slot {
  @apply w-full rounded-lg shadow-sm
         ring-1 ring-black ring-opacity-10
         lg:min-h-56 lg:w-auto
         transition-all hover:shadow-md;
}

.btn {
  @apply w-full px-4 py-2 rounded-lg font-medium text-base cursor-pointer transition-colors 
         text-white bg-indigo-400 hover:bg-indigo-500;
}

.icon {
  @apply block w-4 h-4 p-2
}

.input {
  @apply w-full px-3 py-2 rounded-md shadow-sm ring-1 ring-inset ring-gray-300;
}

.link {
  @apply font-medium transition-colors text-indigo-400 hover:text-indigo-500
}

.tooltip {
  @apply opacity-0 absolute z-10 left-0 mt-2 -translate-x-full top-2/4 -translate-y-2/4 w-max px-3 py-2 
         text-xs text-rose-400 text-center bg-white rounded-md ring-1 ring-black ring-opacity-10
         transition-opacity peer-hover:opacity-100
         lg:left-2/4 lg:-translate-x-2/4 lg:top-auto lg:translate-y-0
         
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1400px;
}
